body {
    background-color: #ffffff;
}

#calc input, #barra {
    font-size: 50px;
    background-color: #000000;
    
}


#barra {
    width:610px;
    height:100px;
    text-align: right;
    margin-left: 0.2rem;
    color: #ffffff;
    border-radius: 5%;

      
}

#calc input {
    width:150px;
    height:100px;
    margin:1px;
    border-radius: 20%;
    color: #ffffff;
    

}


#calc input:hover {
    transform: scale(1.2);
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0.1s;
    z-index: 3;
    cursor: pointer;
    
}




  